h1 {
    color: purple;
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 50px;
}

.box {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    float: left;
    position: relative;

}

.box> img {
    position: absolute;
    top: -40px;
    right: -40px;
}

.box:nth-child(3), .box:nth-child(5) {
    clear: left;
}

#redbox {
    background-color: red;
    color: white;
    font-weight: bolder;
    text-align: justify;


}
#orangebox {

    background-color: orange;
    color: white;
    font-weight: bolder;


}
#yellowbox {

    background-color: yellow;
    color: white;
    font-weight: bolder;

}
#greenbox {

    background-color: green;
    color: white;
    font-weight: bolder;


}
#bluebox {
    background-color: blue;
    color: white;
    font-weight: bolder;

}
#purplebox {
    background-color: purple;
    color: white;
    font-weight: bolder;
}

