h2 {
    color: aqua; text-decoration: underline;
}
body {
    background-color: azure;
}
body {
    background-image: url(../img/Yukon.jpeg); background-position: center; background-size: 45%;
}
ol {
    font-size: larger; color: darkblue; font-weight: bold;
}
table {
    font-size: larger; color: darkblue ; font-weight: bold;
}
a:hover {
   color: crimson;
}
ol {
    list-style: hebrew;
}
ul {
    list-style: katakana;
}
p {
    color: darkblue; font-weight: bold;
}